<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>apiEndpoint</key>
  <string>https://api.iaros.io/v3</string>
  <key>theme</key>
  <string>light</string>
  <key>fallback</key>
  <dict>
    <key>cacheTTL</key>
    <integer>4320</integer>
    <key>networkRetry</key>
    <integer>3</integer>
  </dict>
</dict>
</plist>
